
.main-Footer{

background-color: black;
color: whitesmoke;  
position: absolute;


}

.main-container{
    margin-top: 20px;
    margin-left: 100px;
    width: 100vw;

}
.main-logo{
   font-size:x-large;
}
.main-items{
    display: flex;
    flex-direction: row;
    
}
.footerUl{
    margin-top: 20px;
    margin-right: 100px;
    list-style-type: none;
}

.footer-main{
    font-size: large;
}
.download-logo{
    display: flex;
    flex-direction:row;
    align-items: center;
}
.download-logo .applogo{
    height: 50px;
    width: 150px;
}
.download-logo .playlogo{
    height: 160px;
    width: 150px;
    margin-right: 50px;
}

.main-items .footer-item{
    color: whitesmoke;
    text-decoration-line: none;
    font-size:15px;
    
}
.main-items .footer-item:hover{
    color: rgb(197, 193, 193);
}
.main-items ul li{
    margin-bottom: 15px;
}
.copyright{
    color: rgb(205, 204, 204);
    font-weight: lighter;
    font-size:small;
}
