*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    top: 0;
    width: 100vw;
    height: 35px;
    z-index: 1;
    background-color:rgb(199, 206, 223); ;
    position: sticky;
    padding-top: 10px;
    padding-left: 8%;
   box-shadow: 4px 4px 4px #81808050
  


}


.navbarLeft{

display: flex;
position: absolute;
left: 280px;

}

.navbarRight{
display: flex;
position: absolute;
right: 180px;

} 

.navbarLogo{
    color: black;
    font-size: larger;
    padding-top: 0px;

}
.navbarButton{
    color: black;
    margin-bottom: 5px;
    font-size: large;
  
   
}
.navbarBtn{
    height: fit-content;
    width: fit-content;
    margin-left:50px;
    padding: 4px;
    border-radius: 8px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

}
/* company Dropdown */

.companyItems{
    color: black;
    display: flex;
   padding: 5px;
   padding-bottom: 5px;
   padding-top: 5px;
   padding-left: 20px;
}
.companyItems:hover{
    background-color:rgb(199, 210, 240); 
    border-radius: 6px;
}
.companyButton{
    margin-right:20px;
    /* yo button ko padding ley dropdown hover lai help garexa */
    padding-bottom: 15px
}


.companyUl{
    width: 250px;
    border: black  1px;
    display: none;
    border-radius: 2px;
    background-color:rgb(234, 239, 252);
    list-style-type: none;
    font-size: large;
    position: absolute;
    padding: 10px;
    top: 35px;
    left: 20px;
    box-shadow: 4px 4px 4px #8a898962
}

/* for fontawesome */
 .companyFontawesomeDown{
    position: absolute;
    left: 150px;
    top: 8px;
}
.companyDropdown:hover .companyFontawesomeDown{
    display: none;
}
 .companyFontawesomeUp{
    display: none;
    position: absolute;
    left: 150px;
    top: 8px;
}
.companyDropdown:hover .companyFontawesomeUp{
    display: block;
}

/* to Display Company dropdown */

.companyDropdown:hover  .companyUl {
display: block;

}

/* help dropdown */
.helpDropdown{
    margin-left: 30px;
}
.helpItems{
    color: black;
    display: flex;
    padding: 5px;
   padding-bottom: 5px;
   padding-top: 5px;
   padding-left: 20px;
}
.helpItems:hover{
    background-color:rgb(199, 210, 240); 
    border-radius: 6px;
}
.helpButton{
    margin-right:20px;
    /* yo button ko padding ley dropdown hover lai help garexa */
    padding-bottom: 15px
}


.helpUl{
    width: 250px;
    border: black  1px;
    display: none;
    border-radius: 2px;
    background-color:rgb(234, 239, 252);
    list-style-type: none;
    font-size: large;
    position: absolute;
    padding: 10px;
    top: 35px;
    left: 180px;
    box-shadow: 4px 4px 4px #8a898962  
}
/* for fontawesome */
.helpFontawesomeDown{
    position: absolute;
    left: 290px;
    top: 8px;
}
.helpDropdown:hover .helpFontawesomeDown{
    display: none;
}
 .helpFontawesomeUp{
    display: none;
    position: absolute;
    left: 290px;
    top: 8px;
}
.helpDropdown:hover .helpFontawesomeUp{
    display: block;
}

/* to display help Dropdown */
.helpDropdown:hover .helpUl{
display: block;

}
.helpFontAwesomeMessage{
    margin-top: 7px;
    margin-right: 20px;
}


.loginBtn{
  background-color: rgb(51, 63, 94);
  width:90px;
  padding: 5px;
  border-radius: 20px;
}
.login{
    color: white;
}

.signupBtn{
    background-color:rgb(51, 63, 94);
    width: 90px;
    padding: 5px;
    border-radius: 20px;
}
.signup{
    color: white;
}


/* popup login-signup */

.bodyPopup{
    position: absolute;
    left: 0px;
    top: 45px;
    background-color: white;
    height:100vh;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    z-index: 1;
    
  }
  .popButton{
    color: black;
    font-size: xx-large;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 40px;
    border-radius:0;
}
.bodyPopup .arrow2{
    padding-left: 50px;
}
 .closeButton{
    height: 28px;
    position: absolute;
    top: 5%;
    left: 85%;
 }
