*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;

}


.navbarLeft{
display: flex;
left: 200px;
}

.navbarRight{
display: flex;
position: absolute;
right: 50px;
} 

.navbarLogo{
    color: black;
    font-size: larger;
    padding-top: 0px;
    margin-left: 20px;
}
.navbarButton{
    color: black;
    margin-bottom: 5px;
    font-size: large;
   
}
.btn{
    height: fit-content;
    width: fit-content;
    margin-left:50px;
    padding: 4px;
    border-radius: 8px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

}

.companyItems{
    color: black;
   padding: 5px;
}
.companyLi{
    padding-bottom: 5px;
    padding-top: 5px;
}
.companyLi:hover{
    background-color:rgb(212, 211, 211); ;
}

.companyUl ul{
    margin-top: 2px;
    border: black  1px;
    margin-left: 50px;
    background-color:rgb(238, 236, 236);
    list-style-type: none;

}
.loginBtn{
  background-color: grey;
  width:90px;
  padding: 5px;
}
.login{
    color: white;
}

.signupBtn{
    background-color:grey;
    width: 90px;
    padding: 5px;
}
.signup{
    color: white;
}