*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    top: 0;
    background-color: white;
    position: sticky;
    /* height: 2px; */
    padding: 10px;
  box-shadow: 4px 4px 4px #8a898962
  


}


.navbarLeft{
display: flex;
left: 200px;
}

.navbarRight{
display: flex;
position: absolute;
right: 50px;
} 

.navbarLogo{
    color: black;
    font-size: larger;
    padding-top: 0px;
    margin-left: 20px;
}
.navbarButton{
    color: black;
    margin-bottom: 5px;
    font-size: large;
   
}
.navbarBtn{
    height: fit-content;
    width: fit-content;
    margin-left:50px;
    padding: 4px;
    border-radius: 8px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

}

.companyItems{
    color: black;
   padding: 5px;
}
.companyLi{
    padding-bottom: 5px;
    padding-top: 5px;
}
.companyLi:hover{
    background-color:rgb(212, 211, 211); ;
}


.companyUl ul{
    margin-top: 2px;
    border: black  1px;
    margin-left: 50px;
    background-color:white;
    list-style-type: none;
    position: absolute;
    padding: 10px;
  box-shadow: 4px 4px 4px #8a898962

}
.loginBtn{
  background-color: rgb(71, 71, 71);
  width:90px;
  padding: 5px;
  border-radius: 20px;
}
.login{
    color: white;
}

.signupBtn{
    background-color:rgb(71, 71, 71);
    width: 90px;
    padding: 5px;
    border-radius: 20px;
}
.signup{
    color: white;
}


/* popup login-signup */

.bodyPopup{
    position: absolute;
    left: 3px;
    top: 58px;
    background-color: white;
    height:90vh;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    z-index: 1;
    
  }
  .popButton{
    color: black;
    font-size: xx-large;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 40px;
    border-radius:0;
}
.bodyPopup .arrow2{
    padding-left: 50px;
}
 .closeButton{
    position:absolute;
    top: 60px;
    right: 80px;
    height: 30px;
 } 
